<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css style -->
    <link rel="stylesheet" href="../css/base.css">
  </head>
  <body>
    include header.pug
    .container id = "board"
    
    <!-- Optional JavaScript -->
    script(src="../js/main.js") 
  </body>
</html>